.Header
    width: 100vw
    height: 80vh
    background-image: url('../assets/reader.jpg')
    background-size: cover
    background-position-y: 50%

    .header-texts
        width: 65vw
        margin: 0 auto
        padding-top: 100px
        color: #ffffff
        h1
            font-size: 100px
            margin: 0
        h2
            font-size: 35px
            margin: 0
