.Header
    width: 100vw
    height: 80vh
    background-image: url('../assets/reader.jpg')
    background-size: cover
    background-position-y: 50%

    .header-texts
        width: 65vw
        margin: 0 auto
        padding-top: 100px
        color: #ffffff
        h1
            font-size: 100px
            margin: 0
        h2
            font-size: 35px
            margin: 0

@media(max-width: 1500px)
    .Header
        .header-texts
            width: 85%
            h1
                font-size: 90px
                margin: 0
            h2
                font-size: 35px
                margin: 0

@media(max-width: 1050px)
    .Header
        .header-texts
            width: 90%
            h1
                font-size: 80px
                margin: 0
            h2
                font-size: 45px
                margin: 0

@media(max-width: 650px)
    .Header
        .header-texts
            width: 90%
            padding-top: 50px
            h1
                font-size: 70px
                margin: 0
            h2
                font-size: 25px
                margin: 0
@media(max-width: 400px)
    .Header
        .header-texts
            width: 90%
            padding-top: 40px
            h1
                font-size: 50px
                margin: 0
            h2
                font-size: 25px
                margin: 0