.Header
    width: 100vw
    height: 70vh
    background-image: url('../assets/reader.jpg')
    background-size: cover
    background-position-y: 50%
    .header-texts
        padding: 100px
        color: #ffffff
        text-shadow: 1px 1px #333333
        h1
            font-size: 150px
            margin: 0
        h2
            font-size: 35px
            margin: 0
